*.pyc
*.egg-info
*.sqlite
*.log

.build
node_modules
thinkhazard/static/build
thinkhazard/static/fonts

.coverage
local*.ini

# Translations
*.mo
thinkhazard/locale/tmp*
thinkhazard/locale/*/LC_MESSAGES/*.po

# Don't version the translation strings from database
*-database.po*

.env
docker-compose.override.yaml
local.mk
