*.pyc
*.egg-info
*.sqlite
*.log

.build
.venv
node_modules
thinkhazard/static/build
thinkhazard/static/fonts

.coverage
local*.ini

# Translations
*.mo
thinkhazard/locale/tmp*
thinkhazard/locale/*/LC_MESSAGES/*.po

# Don't version the translation strings from database
*-database.po*

.env
docker-compose.override.yaml
local.mk
docs/hazard-data.md
docs/hazard-methods.md
docs/images/old_icons/eq.png
docs/images/old_icons/et.png
docs/images/old_icons/fl.png
docs/images/old_icons/ls.png
docs/images/old_icons/ss.png
docs/images/old_icons/sw.png
docs/images/old_icons/ts.png
docs/images/old_icons/va.png
docs/images/old_icons/wf.png
docs/images/old_icons/ws.png
docs/QUICKSTART.md
docs/restore_files.py
docs/STYLING_ISSUES.md
docs/TH_logic_summary.md
docs/workflow.md
