APScheduler
Babel
pypdf
SQLAlchemy
alembic
boto3
chameleon  # needed by lingua
colorlog
geoalchemy2
gunicorn
httplib2
jinja2
lingva
markdown
numpy>=2.4.1
papyrus
passlib
paste
psycopg2
pyproj>=3.7.2
pyquery
pyramid<2
pyramid_debugtoolbar
pyramid_jinja2
pyramid_tm
pytidylib
python-slugify>=8.0.4
pytz
pyyaml
rasterio>=1.5
redis<6  # Temporary: avoid SSL issue with {cachename}.privatelink.redis.cache.windows.net
requests
requests_futures
secure<1,>=0.3
shapely>=2.1.2
simplejson
transaction
waitress
zope.sqlalchemy
celery[s3,redis]>=5.6.0
httpx
geopandas
pyogrio