.admin-navbar {
  margin-top: 10px;
}
.admin-index .table td {
  padding: 5px 10px;
}

.admin-hazardcategory .item-association {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #dfdfdf;
  background-color: white;
  cursor: ns-resize;
}

.admin-technicalrecommendations ul,
.admin-climatechangerecommendations ul {
  padding: 0px;
}
.admin-technicalrecommendations li,
.admin-climatechangerecommendations li.item-climatechangerecommendation {
  margin: 10px 0px;
  list-style: none;
}

.admin-technicalrecommendation .item-associations {
  th,
  td {
    padding: 5px;
    .item-association {
      text-align: center;
      vertical-align: middle;
    }
  }
}

.admin-climatechangerecommendation .item-association {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
