@import "../../../node_modules/bootstrap/less/mixins.less";

.navbar-default {
  background-color: transparent;
  margin-bottom: 27px;
  .box-shadow(none);
}

// height of the search pane (ie. height of the background image)
@search-pane-height: 266px;
@search-field-height: 54px;
.search-pane {
  margin-top: 30px;
  height: @search-pane-height;
  background: url(../images/front-bg.png) no-repeat 50% 50%;

  > div {
    padding-top: @search-pane-height / 2 - @search-field-height / 2;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }

  .form-control,
  .search-field,
  .twitter-typeahead {
    width: 100%;
  }

  .form-control,
  .search-field {
    height: @search-field-height;
    border: 0;
  }
  .search-field,
  .search-field:focus {
    .box-shadow(0 0 0 5px rgba(0,0,0,.15));
  }

}
.search {
  .input-group-addon {
    background-color: red;
    &:after {
      border-left-color: red;
    }
  }
}

footer {
  margin-top: 60px;
}

.logo-brgm,
.logo-camptocamp,
.logo-deltares,
.logo-gfdrr {
  display: inline-block;
}

.logo-gfdrr {
  height: 61px;
  width: 200px;
  background: url(../images/logo-gfdrr-big.png) no-repeat;
  &:hover {
    background-position: 0 -76px;
  }
}
.logo-brgm {
  height: 67px;
  width: 173px;
  background: url(../images/logo-brgm.png) no-repeat;
}
.logo-camptocamp {
  height: 67px;
  width: 170px;
  background: url(../images/logo-camptocamp.png) no-repeat;
}
.logo-deltares {
  height: 67px;
  width: 132px;
  background: url(../images/logo-deltares.png) no-repeat;
}

.hazard-types-list li .hazard-icon {
  .box-shadow(0px 0px 20px -1px rgba(0, 0, 0, 0.15));
}

.logo {
  font-size: 48px;
}
