@import "../../../node_modules/bootstrap/less/mixins.less";

@level-HIG-color: #d91f2c;
@level-MED-color: #d57c27;
@level-LOW-color: #e0b025;
@level-NPR-color: #87988c;
@level-no-data-color: #F2F2F2;

@text-color: #333;

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Media queries to adjust form width */
@media(min-width:768px) {
  .navbar-form .form-control {
    width: 350px;
  }
}

.jumbotron {
  padding: 48px 0 0 0;
}

#hazard-types-list {
  @hazard-width: 104px;
  @circle-border: 5px;
  @icon-size: 64px;
  @arrow-height: 10px;
  @border-bottom: 5px;
  margin-bottom: -(@border-bottom);
  // remove space between items in the list
  font-size: 0;
  li {
    font-size: 16px;
    width: @hazard-width;
    border-bottom: @border-bottom solid;
    position: relative;
    margin-top: 50px;
    padding-top: 20px;
    &.no-data {
      border-bottom-color: white;
      a {
        color: #a8a8a8;
      }
      .icon {
        background-color: #f5f5f5;
      }
    }
    &.active {
      a {
        color: white;
      }
    }
    a {
      color: #333;
    }
    .icon {
      font-size: @icon-size;
      border: @circle-border solid transparent;
      border-radius: 50px;
      position: absolute;
      top: -@icon-size / 2 - @circle-border;
      left: (@hazard-width - @icon-size) / 2 - @circle-border;
      background-color: white;
    }
    &:not(.active) .icon {
      .box-shadow(0px 0px 6px -1px rgba(0, 0, 0, 0.33));
    }
    .arrow {
      position: absolute;
      bottom: -15px;
      width: 0;
      height: 0;
      border-left: 51px solid transparent;
      border-right: 51px solid transparent;
      border-top: @arrow-height solid;
    }

    .level(@level) {
      @color: "level-@{level}-color";
      &.@{level} {
        border-color: @@color;
        &.active {
          background-color: @@color;
          .arrow {
            border-top-color: @@color;
          }
          .icon {
            color: @@color;
            border-color: @@color;
          }
        }
      }
    }
    .level(HIG);
    .level(MED);
    .level(LOW);
    .level(NPR);
  }
}

.hazard-title-level(@level) {
  @color: "level-@{level}-color";
  .level-@{level} {
    .page-header {
      border-color: @@color;
      .level {
        color: @@color;
      }
    }
  }
}

.hazard-title-level(HIG);
.hazard-title-level(MED);
.hazard-title-level(LOW);
.hazard-title-level(NPR);

.recommendations {
  margin: 0;
  padding: 0;
  li {
    line-height: 27px;
    border-left: 3px solid;
    padding: 7px 0 7px 15px;
    margin-top: 23px;
    &:first-child {
      margin-top: 30px;
    }
  }
}

.recommendations-level(@level) {
  @color: "level-@{level}-color";
  .level-@{level} {
    .recommendations li {
      border-color: @@color;
    }
  }
}

.recommendations-level(HIG);
.recommendations-level(MED);
.recommendations-level(LOW);
.recommendations-level(NPR);

#map {
  height: 350px;
  position: relative;
}

#map-drillup {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

#legend {
  .square {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  .level(HIG);
  .level(MED);
  .level(LOW);
  .level(NPR);

  vertical-align: middle;

  ul {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 30px;
    color: @text-color;
  }
}

.level(@level) {
  @color: "level-@{level}-color";
  .level-@{level} {
    .square {
      background-color: fade(@@color, 50%);
    }
  }
}

.logo-gfdrr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 135px;
  height: 32px;
  background: url(../images/logo-gfdrr-small.png) 0 0 no-repeat;
  &:hover {
    background-position: 0 -60px;
  }
}

#map-block {
  .caption {
    text-align: center;
    &.location {
      margin: 0px 20px 27px;
    }
    &.level{
      margin: 4px 20px 0px;
      font-size: 24px;
    }
  }
  background-color: #fff;
  padding: 10px;
  .box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.33));
}

.legend-heading {
  text-align: center;
}

#data-source {
  padding: 27px 0px 30px;
  margin: 0 20px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #e6e6e6;
  font-size: 14px;
  h5 {
    text-transform: uppercase;
    margin-bottom: 4px;
  }
}

#further-resources {
  background-color: #f5f5f5;
  margin: 50px 0px;
  padding: 27px 30px;
  p {
    margin-top: 15px;
    margin-bottom: 0px;
    line-height: 27px;
  }
  ul {
    margin-left: 0;
    li {
      margin-top: 15px;
      margin-left: 10px;
    }
  }
}

.further-resources-level(@level) {
  @color: "level-@{level}-color";
  .level-@{level} {
    #further-resources .fa-li {
      color: @@color;
    }
  }
}

.further-resources-level(HIG);
.further-resources-level(MED);
.further-resources-level(LOW);
.further-resources-level(NPR);

#pdf-link, #overview-link {
  border: 1px solid #d9d9d9;
  &:hover {
    .box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.15));
  }
}

