html, body {
  height: 100%;
}

@report-header-height: 178px;

.navbar-brand {
  padding: 0;
  margin-top: -5px;
}

.navbar-form {
  margin-top: 6px;
  margin-bottom: 6px;
}

.navbar-form input {
  border: 0;
  &, &:focus {
    .box-shadow(none);
  }
  background: url(../images/search-magnifier.png) no-repeat white;
  background-position-y: center;
  background-position-x: 10px;
  padding-left: 50px;
}

#wrapper {
  min-height: 100%;
  height: 100%;
  width: 100%;
  padding-top: @navbar-height;
}

#report-wrapper,
#map-wrapper {
  height: 100%;
  padding: 0;
}

#report-header {
  padding-top: 10px;
  h2 {
    margin-top: 0;
    font-family: 'variablebold';
  }
  h3 {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
  }
}

.logo-gfdrr {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 135px;
  height: 45px;
  background: url(../images/logo-gfdrr-small.png) no-repeat;
  background-position-x: center;
  z-index: 2;
}

#report {
  max-height: 100%;
  overflow-y: auto;
}

#pdf-link {
  position: absolute;
  padding: 5px 10px;
  right: 10px;
  background-color: #035E8B;
  z-index: 2;
  color: white;
  font-size: 0.9em;
  font-family: 'variableblack', arial, sans-serif;
  border-radius: 0 0 5px 5px;

  img {
    padding-right: 10px;
  }
}

#report-header {
  position: absolute;
  width: 100%;
  background-color: white;
  height: @report-header-height;
  .box-shadow(0px 2px 6px -1px rgba(0, 0, 0, 0.5));

  ul.hazards {
    background-color: #f2f2f2;
    height: 90px;
    li {
      vertical-align: top;
      background-color: #f2f2f2;
      height: 90px;
      border-bottom: 4px solid @level-default-color;
      overflow: hidden;
      .transition(height .15s linear);
      a, a:hover {
        color: @text-color;
        text-decoration: none;
      }
      img {
        display: block;
        padding: 10px;
      }
      &.high {
        border-color: @level-high-color;
      }
      &.medium {
        border-color: @level-medium-color;
      }
      &.low {
        border-color: @level-low-color;
      }
      &:hover {
        height: 110px;
      }
    }
  }
}

#report-body {
  /*margin-top: 200px;*/
  max-height: 100%;
  position: absolute;
  top: @report-header-height;
  overflow-y: scroll;
  overflow-x: hidden;
  bottom: 0;

  .title-gradient(@color) {
    #gradient > .horizontal(@start-color: white; @end-color: @color; @start-percent: 50%);
    border-color: @color;
  }

  .page-header {
    &.level-high {
      .title-gradient(@level-high-color);
    }
    &.level-medium {
      .title-gradient(@level-medium-color);
    }
    &.level-low {
      .title-gradient(@level-low-color);
    }
    &.level-default {
      .title-gradient(@level-default-color);
    }
    small {
      color: white;
      margin-top: 0.6em;
      padding-right: 10px;
    }
  }
}

#map {
  height: 100%;
}

#map img {
  width: 100%;
  height: 100%;
}
