html, body {
  height: 100%;
}

@report-header-height: 166px;

.navbar {
  .box-shadow(0px 2px 6px -1px rgba(0, 0, 0, 0.5));
}

.navbar-brand {
  padding: 0;
  margin-top: -5px;
}

.navbar-form {
  margin-top: 6px;
  margin-bottom: 6px;
}

.navbar-form input.form-control {
  border: 0;
  &, &:focus {
    .box-shadow(none);
  }
  background: url(../images/search-magnifier.png) no-repeat white;
  background-position-y: center;
  background-position-x: 10px;
  padding-left: 50px;
}

/* Media queries to adjust form width */
@media(min-width:768px) {
  .navbar-form .form-control {
    width: 350px;
  }
}

#wrapper {
  width: 100%;
  position: absolute;
  top: @navbar-height;
  bottom: 0;
}

#report-wrapper,
#map-wrapper {
  height: 100%;
  padding: 0;
}

@report-wrapper-width: 655px;
#report-wrapper {
  position: absolute;
  width: @report-wrapper-width;
  .box-shadow(0px 2px 6px -1px rgba(0, 0, 0, 0.5));
}

#map-wrapper {
  margin-left: @report-wrapper-width;
}

.logo-gfdrr {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 135px;
  height: 45px;
  background: url(../images/logo-gfdrr-small.png) no-repeat;
  background-position-x: center;
  z-index: 2;
}

#report {
  max-height: 100%;
}

#pdf-link {
  position: absolute;
  padding: 5px 10px;
  right: 10px;
  background-color: #035E8B;
  z-index: 2;
  color: white;
  font-size: 0.9em;
  font-family: 'variableblack', arial, sans-serif;
  border-radius: 0 0 5px 5px;

  img {
    padding-right: 10px;
  }
}

#report-header {
  position: absolute;
  width: 100%;
  background-color: white;
  height: @report-header-height;
  z-index: 2;
  .box-shadow(0px 2px 6px -1px rgba(0, 0, 0, 0.5));

  h2 {
    margin-top: 0;
    font-family: 'variablebold';
  }
  h3 {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
  }

  ul.hazards {
    background-color: #f2f2f2;
    height: 90px;
    li {
      vertical-align: top;
      background-color: #f2f2f2;
      height: 90px;
      overflow: hidden;
      .transition(height .15s linear);
      a, a:hover {
        color: @text-color;
        text-decoration: none;
      }
      img {
        display: block;
        padding: 10px;
      }
      border-bottom: 4px solid;

      .by-level(@level) {
        &.@{level} {
          @color: "level-@{level}-color";
          border-color: @@color;
          &.active {
            background-color: lighten(@@color, 30%);
          }
        }
      }
      .by-level(HIG);
      .by-level(MED);
      .by-level(LOW);
      .by-level(NPR);
      &:hover {
        height: 110px;
      }
    }
  }
  }

#report-body {
  width: 100%;
  max-height: 100%;
  position: absolute;
  top: @report-header-height;
  bottom: 0;

  @footer-gradient-height: 30px;
  .scrollable {
    max-height: 100%;
    overflow-x: hidden;
    padding-bottom: @footer-gradient-height;
    padding-top: 30px;
  }

  .title-gradient(@color) {
    #gradient > .horizontal(@start-color: white; @end-color: @color; @start-percent: 50%);
    border-color: @color;
  }

  a:hover {
    text-decoration: none;
  }
  .page-header {
    margin-top: 0;
    color: @text-color;
    small {
      margin-top: 0.6em;
      padding-right: 10px;
    }

    .page-header-level(@level_name) {
      @color: "level-@{level_name}-color";
      &.level-@{level_name} {
        &:hover {
          border-bottom-color: @@color;
        }
        small {
          color: @@color;
        }
      }
      &.detail {
        &.level-@{level_name} {
          .title-gradient(@@color);
        }
        small {
          color: white;
        }
      }
    }
    .page-header-level(HIG);
    .page-header-level(MED);
    .page-header-level(LOW);
    .page-header-level(NPR);
  }

  .footer-gradient {
    height: @footer-gradient-height;
    position: absolute;
    left: 0;
    right: 15px;
    bottom: 0;
    z-index: 2;
    #gradient > .vertical(@start-color: rgba(255, 255, 255, 0), @end-color: rgba(255, 255, 255, 1));
  }
}

#map {
  height: 100%;
}
