<p>
<em>ThinkHazard!</em> is a new web-based tool enabling non-specialists to consider the impacts of disasters on new development projects. Users of <em>ThinkHazard!</em> can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard within their project area to assist with project planning and design.
</p>
<p>
<em>ThinkHazard!</em> is a simple flagging system to highlight the hazards present in a project area. As such, a user is only required to enter their project location – national, provincial or district name. The results interface shows a user whether they require high, medium or low awareness of each hazard when planning their project.
</p>
<p>
<em>ThinkHazard!</em> also provides recommendations and guidance on how to reduce the risk from each hazard within the project area, and provides links to additional resources such as country risk assessments, best practice guidance, additional websites. <em>ThinkHazard!</em> also highlights how each hazard may change in the future as a result of climate change.
</p>
<div class="row">
  <div class="col-md-12 text-center">
    <p>
    Developed by
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <a href="//www.gfdrr.org/" class="logo-md" title="Logo GFDRR" alt="Logo GFDRR"><img src="{{'thinkhazard:static/images/logo-gfdrr.svg'|static_url}}"></a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12 text-center">
    <p>
    In partnership with
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <table width="100%">
      <tr>
        <td width="25%">
          <a href="//www.brgm.fr/" class="logo-md" title="Logo BRGM" alt="Logo BRGM"><img src="{{'thinkhazard:static/images/logo-brgm.svg'|static_url}}"></a>
        </td>
        <td width="25%">
          <a href="//www.camptocamp.com/" class="logo-md" title="Logo Camptocamp" alt="Logo Camptocamp"><img src="{{'thinkhazard:static/images/logo-camptocamp.svg'|static_url}}"></a>
        </td>
        <td width="25%">
          <a href="//www.deltares.nl/" class="logo-md" title="Logo Deltares" alt="Logo Deltares"><img src="{{'thinkhazard:static/images/logo-deltares.svg'|static_url}}"></a>
        </td>
        <td width="25%">
          <a href="//www.worldbank.org/" class="logo-md" title="Logo World Bank" alt="Logo World Bank"><img src="{{'thinkhazard:static/images/logo-wbg.svg'|static_url}}"></a>
        </td>
      </tr>
    </table>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-12 text-center">
    <p>
    The following organizations have contributed data and / or expert input to the development of this tool:
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <table width="100%" class="space">
      <tr>
        <td width="20%">
          <a href="//www.gns.cri.nz/" class="logo-md" title="Logo GNS Science" alt="Logo GNS Science"><img src="{{'thinkhazard:static/images/logo-gns.svg'|static_url}}"></a>
        </td>
        <td width="20%">
          <a href="//www.ivm.vu.nl" class="logo-md" title="Logo VU University Institute for Environmental Studies" alt="Logo VU University Institute for Environmental Studies"><img src="{{'thinkhazard:static/images/logo-ivm-vu.png'|static_url}}"></a>
        </td>
        <td width="20%">
          <a href="//www.ssbn.co.uk/" class="logo-md" title="Logo SSBN" alt="Logo SSBN"><img src="{{'thinkhazard:static/images/logo-ssbn.svg'|static_url}}"></a>
        </td>
        <td width="20%">
          <a href="//www.canterbury.ac.nz/" class="logo-md" title="Logo University of Canterbury" alt="Logo University of Canterbury"><img src="{{'thinkhazard:static/images/logo-uc.svg'|static_url}}"></a>
        </td>
        <td width="20%">
          <a href="//www.undp.org/content/undp/en/home/" class="logo-md" title="Logo United Nations Development Programme" alt="Logo United Nations Development Programme"><img src="{{'thinkhazard:static/images/UNDP_logo.png'|static_url}}"></a>
        </td>
      </tr>
      <tr>
        <td width="20%">
          <a href="//www.unisdr.org/" class="logo-md" title="Logo The United Nations Office for Disaster Risk Reduction" alt="Logo The United Nations Office for Disaster Risk Reduction"><img src="{{'thinkhazard:static/images/UNISDR_logo.gif'|static_url}}"></a>
        </td>
        <td width="20%">
          <a href="http://www.aon.com/impactforecasting/impact-forecasting.jsp" class="logo-md" title="Logo Impact Forecasting" alt="Logo Impact Forecasting"><img src="{{'thinkhazard:static/images/logo-if.png'|static_url}}"></a>
        </td>
        <td width="20%">
          <a href="http://www.uu.nl/en/organisation/faculty-of-geosciences" class="logo-md" title="Logo Universiteit Utrecht" alt="Logo Universiteit Utrecht"><img src="{{'thinkhazard:static/images/logo-utrecht.png'|static_url}}"></a>
        </td>
        <td width="20%">
          <a href="http://www.ga.gov.au/" class="logo-md" title="Logo Geoscience Australia" alt="Logo Geoscience Australia"><img src="{{'thinkhazard:static/images/logo-ga.png'|static_url}}"></a>
        </td>
        <td width="20%">
          <a href="http://www.globalquakemodel.org/" class="logo-md" title="Logo Global Earthquake Model" alt="Logo Global Earthquake Model"><img src="{{'thinkhazard:static/images/logo-gem.png'|static_url}}"></a>
        </td>
      </tr>
      <tr>
        <td width="20%">
        </td>
        <td width="20%">
          <a href="http://pcrafi.sopac.org/" class="logo-md" title="Logo Pacific Catastrophe Risk Assessment & Financing Initiative" alt="Logo Pacific Catastrophe Risk Assessment & Financing Initiative"><img src="{{'thinkhazard:static/images/logo-pcrafi.png'|static_url}}"></a>
        </td>
        <td width="20%">
          <a href="https://www.uea.ac.uk/" class="logo-md" title="Logo University of East Anglia" alt="Logo University of East Anglia"><img src="{{'thinkhazard:static/images/logo-uea.png'|static_url}}"></a>
        </td>
        <td width="20%">
          <a href="https://www.gpi.kit.edu/english/GPIatKIT.php" class="logo-md" title="Logo Karlsruher Institut für Technologie" alt="Logo Karlsruher Institut für Technologie"><img src="{{'thinkhazard:static/images/logo-kit.png'|static_url}}"></a>
        </td>
      </tr>
    </table>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-12 text-center">
    <p>
    <em>ThinkHazard!</em> holds local data for the countries displayed in this map. Global data is available for river flood, earthquake, cyclone, water scarcity, and landslide.
    </p>
  </div>
  <div class="col-md-12 text-center">
    <img class="img-responsive" src="{{'thinkhazard:static/images/data-holdings-map.png'|static_url}}">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>
    The World Bank does not guarantee the accuracy of the data included in this work. The boundaries, colors, denominations, and other information shown on any map in this work do not imply any judgment on the part of The World Bank concerning the legal status of any territory or the endorsement or acceptance of such boundaries.
    </p>
    <p>
    Source of Administrative boundaries: The Global Administrative Unit Layers (GAUL) dataset, implemented by FAO within the CountrySTAT and Agricultural Market Information System (AMIS) projects.
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <p>
    The tool code is open source, to encourage other users to adapt the tool to their needs. The code can be found on <a href="https://github.com/GFDRR/thinkhazard" target="_blank">Github</a>.
    Current instance version is {{request.registry.settings['version']}}.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>
    The data was published for the last time on <em>{{publication_date}}</em>.
    </p>
  </div>
</div>
