{% from 'common.jinja2' import thinkhazard_logo %}
<!-- Modal -->
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="aboutModalLabel">
        {{gettext('About ThinkHazard!')}}
      </h4>
    </div>
    <div class="modal-body">
      {% include 'about_body.jinja2' %}
      <hr>
      <div class="row">
        <div class="col-md-12">
          <p>
          {{gettext('For more information, please read the [full disclaimer](%(link)s).', link='disclaimer'|route_url)|markdown}}
          </p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        {{gettext('Close')}}
      </button>
    </div>
  </div>
</div>
