{% from 'common.jinja2' import licence %}
<p>
{{gettext('*ThinkHazard!* is a new web-based tool enabling non-specialists to consider the impacts of disasters on new development projects. Users of *ThinkHazard!* can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard within their project area to assist with project planning and design.') | markdown}}
</p>
<p>
{{gettext('*ThinkHazard!* is a simple flagging system to highlight the hazards present in a project area. As such, a user is only required to enter their project location – national, provincial or district name. The results interface shows a user whether they require high, medium or low awareness of each hazard when planning their project.') | markdown}}
</p>
<p>
{{gettext('*ThinkHazard!* also provides recommendations and guidance on how to reduce the risk from each hazard within the project area, and provides links to additional resources such as country risk assessments, best practice guidance, additional websites. *ThinkHazard!* also highlights how each hazard may change in the future as a result of climate change.') | markdown}}
</p>
<p>
{{gettext('The ThinkHazard! methodology is documented [here](%(link)s).', link='https://gfdrr.github.io/thinkhazardmethods') | markdown}}
</p>

<hr>
<div class="row">
  <div class="col-md-12 text-center">
    <p>
    {{gettext('Developed by') | markdown}}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <a href="//www.gfdrr.org/" class="logo-md" title="Logo GFDRR" alt="GFDRR"><img src="{{'thinkhazard:static/images/logo-gfdrr.svg'|static_url}}"></a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12 text-center">
    <p>
    {{gettext('In partnership with') | markdown}}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-3 text-center">
    <p>
      <a href="//www.brgm.fr/" class="logo-md" title="Logo BRGM" alt="BRGM"><img src="{{'thinkhazard:static/images/logo-brgm.svg'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-3 text-center">
    <p>
      <a href="//www.camptocamp.com/" class="logo-md" title="Logo Camptocamp" alt="Camptocamp"><img src="{{'thinkhazard:static/images/logo-camptocamp.svg'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-3 text-center">
    <p>
      <a href="//www.deltares.nl/" class="logo-md" title="Logo Deltares" alt="Deltares"><img src="{{'thinkhazard:static/images/logo-deltares.svg'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-3 text-center">
    <p>
      <a href="//www.worldbank.org/" class="logo-md" title="Logo World Bank" alt="World Bank"><img src="{{'thinkhazard:static/images/logo-wbg.svg'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-3 text-center">
    <p>
      <a href="https://understandrisk.org/" class="logo-md" title="Understanding Risk Community" alt="Understanding Risk Community"><img src="{{'thinkhazard:static/images/UR_logo_BLACK.png'|static_url}}"></a>
    </p>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-12 text-center">
    <p>
    {{gettext('The following organizations have contributed data and / or expert input to the development of this tool:') | markdown}}
    </p>
  </div>
</div>
<div class="row row10">
  <div class="col-md-2 text-center">
    <p>
      <a href="//www.gns.cri.nz/" class="logo-md" title="Logo GNS Science" alt="GNS Science"><img src="{{'thinkhazard:static/images/logo-gns.svg'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="//www.ivm.vu.nl" class="logo-md" title="Logo VU University Institute for Environmental Studies" alt="VU University Institute for Environmental Studies"><img src="{{'thinkhazard:static/images/logo-ivm-vu.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="//www.fathom.global/" class="logo-md" title="Logo Fathom" alt="Fathom"><img src="{{'thinkhazard:static/images/FATHOM LOGO RGB 1.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="//www.canterbury.ac.nz/" class="logo-md" title="Logo University of Canterbury" alt="University of Canterbury"><img src="{{'thinkhazard:static/images/logo-uc.svg'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="//www.undp.org/content/undp/en/home/" class="logo-md" title="Logo United Nations Development Programme" alt="United Nations Development Programme"><img src="{{'thinkhazard:static/images/UNDP_logo.png'|static_url}}"></a>
    </p>
  </div>
</div>
<div class="row row10">
  <div class="col-md-2 text-center">
    <p>
    <a href="//www.unisdr.org/" class="logo-md" title="Logo The United Nations Office for Disaster Risk Reduction" alt="The United Nations Office for Disaster Risk Reduction"><img src="{{'thinkhazard:static/images/UNISDR_logo.gif'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
    <a href="http://www.aon.com/impactforecasting/impact-forecasting.jsp" class="logo-md" title="Logo Impact Forecasting" alt="Impact Forecasting"><img src="{{'thinkhazard:static/images/logo-if.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="http://www.uu.nl/en/organisation/faculty-of-geosciences" class="logo-md" title="Logo Universiteit Utrecht" alt="Universiteit Utrecht"><img src="{{'thinkhazard:static/images/logo-utrecht.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="http://www.ga.gov.au/" class="logo-md" title="Logo Geoscience Australia" alt="Geoscience Australia"><img src="{{'thinkhazard:static/images/logo-ga.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="http://www.globalquakemodel.org/" class="logo-md" title="Logo Global Earthquake Model" alt="Global Earthquake Model"><img src="{{'thinkhazard:static/images/logo-gem.png'|static_url}}"></a>
    </p>
  </div>
</div>
<div class="row row10">
  <div class="col-md-2 text-center">
    <p>
      <a href="http://pcrafi.sopac.org/" class="logo-md" title="Logo Pacific Catastrophe Risk Assessment & Financing Initiative" alt="Pacific Catastrophe Risk Assessment & Financing Initiative"><img src="{{'thinkhazard:static/images/logo-pcrafi.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="https://www.uea.ac.uk/" class="logo-md" title="Logo University of East Anglia" alt="University of East Anglia"><img src="{{'thinkhazard:static/images/logo-uea.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="https://www.gpi.kit.edu/english/GPIatKIT.php" class="logo-md" title="Logo Karlsruher Institut für Technologie" alt="Karlsruher Institut für Technologie"><img src="{{'thinkhazard:static/images/logo-kit.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="https://www.csiro.au/" class="logo-md" title="Logo CSIRO" alt="CSIRO"><img src="{{'thinkhazard:static/images/logo_CSIRO.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="https://vito.be/en" class="logo-md" title="Logo VITO" alt="VITO"><img src="{{'thinkhazard:static/images/logo_vito.png'|static_url}}"></a>
    </p>
  </div>
</div>
<div class="row row10">
  <div class="col-md-2 text-center">
    <p>
      <a href="http://globaltsunamimodel.rm.ingv.it/" class="logo-md" title="Logo Global Tsunami Model" alt="Global Tsunami Model"><img src="{{'thinkhazard:static/images/logoGTM.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="https://www.gfdrr.org/en/drf-analytics" class="logo-md" title="Logo WB GFDRR EU DRFIP" alt="Disaster Risk Financing Analytics"><img src="{{'thinkhazard:static/images/EU-WB-GFDRR-DRFIP.jpg'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="https://www.preventionweb.net/resilient-africa/home" class="logo-ACP-EU ADRF" title="ACP-EU ADRF Project" alt="ACP-EU ADRF Project"><img src="{{'thinkhazard:static/images/EU-ACP%20Logo%20(Sendai%20Colors)%20EN.png'|static_url}}"></a>
    </p>
  </div>
</div>

<br>
<hr>
<div class="row">
  <div class="col-md-12">
    <p>
    {{gettext('The tool code is open source, to encourage other users to adapt the tool to their needs. The code can be found on %(github_link)s.', github_link='<a href="https://github.com/GFDRR/thinkhazard" target="_blank">Github</a>') | markdown}}
    {{gettext('Current instance version is %(version)s', version=request.registry.settings['version'])}}.
    {{gettext('Source of Administrative boundaries: The Global Administrative Unit Layers (GAUL) dataset, implemented by FAO within the CountrySTAT and Agricultural Market Information System (AMIS) projects.') | markdown}}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>
      {{licence()}}
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <p>
    {{gettext('The data was published for the last time on *%(date)s*.', date=publication_date)|markdown}}
    </p>
  </div>
</div>
