{% from 'common.jinja2' import licence %}
<p>
{{gettext('*ThinkHazard!* is a new web-based tool enabling non-specialists to consider the impacts of disasters on new development projects. Users of *ThinkHazard!* can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcano, and landslide hazard within their project area to assist with project planning and design.') | markdown}}
</p>
<p>
{{gettext('*ThinkHazard!* is a simple flagging system to highlight the hazards present in a project area. As such, a user is only required to enter their project location – national, provincial or district name. The results interface shows a user whether they require high, medium or low awareness of each hazard when planning their project.') | markdown}}
</p>
<p>
{{gettext('*ThinkHazard!* also provides recommendations and guidance on how to reduce the risk from each hazard within the project area, and provides links to additional resources such as country risk assessments, best practice guidance, additional websites. *ThinkHazard!* also highlights how each hazard may change in the future as a result of climate change.') | markdown}}
</p>
<p>
{{gettext('A short user guide is available [here](%(link)s), and the full methodology [here](%(link2)s).', link='thinkhazard:static/documents/ThinkHazard_briefUserGuide_v2.pdf', link2='thinkhazard:static/documents/thinkhazard-methodology-report_v2_0.pdf' | static_url) | markdown}}
</p>

<hr>
<div class="row">
  <div class="col-md-12 text-center">
    <p>
    {{gettext('Developed by') | markdown}}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <a href="//www.gfdrr.org/" class="logo-md" title="Logo GFDRR" alt="Logo GFDRR"><img src="{{'thinkhazard:static/images/logo-gfdrr.svg'|static_url}}"></a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12 text-center">
    <p>
    {{gettext('In partnership with') | markdown}}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-3 text-center">
    <p>
      <a href="//www.brgm.fr/" class="logo-md" title="Logo BRGM" alt="Logo BRGM"><img src="{{'thinkhazard:static/images/logo-brgm.svg'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-3 text-center">
    <p>
      <a href="//www.camptocamp.com/" class="logo-md" title="Logo Camptocamp" alt="Logo Camptocamp"><img src="{{'thinkhazard:static/images/logo-camptocamp.svg'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-3 text-center">
    <p>
      <a href="//www.deltares.nl/" class="logo-md" title="Logo Deltares" alt="Logo Deltares"><img src="{{'thinkhazard:static/images/logo-deltares.svg'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-3 text-center">
    <p>
      <a href="//www.worldbank.org/" class="logo-md" title="Logo World Bank" alt="Logo World Bank"><img src="{{'thinkhazard:static/images/logo-wbg.svg'|static_url}}"></a>
    </p>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-12 text-center">
    <p>
    {{gettext('The following organizations have contributed data and / or expert input to the development of this tool:') | markdown}}
    </p>
  </div>
</div>
<div class="row row10">
  <div class="col-md-2 text-center">
    <p>
      <a href="//www.gns.cri.nz/" class="logo-md" title="Logo GNS Science" alt="Logo GNS Science"><img src="{{'thinkhazard:static/images/logo-gns.svg'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="//www.ivm.vu.nl" class="logo-md" title="Logo VU University Institute for Environmental Studies" alt="Logo VU University Institute for Environmental Studies"><img src="{{'thinkhazard:static/images/logo-ivm-vu.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="//www.ssbn.co.uk/" class="logo-md" title="Logo SSBN" alt="Logo SSBN"><img src="{{'thinkhazard:static/images/logo-ssbn.svg'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="//www.canterbury.ac.nz/" class="logo-md" title="Logo University of Canterbury" alt="Logo University of Canterbury"><img src="{{'thinkhazard:static/images/logo-uc.svg'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="//www.undp.org/content/undp/en/home/" class="logo-md" title="Logo United Nations Development Programme" alt="Logo United Nations Development Programme"><img src="{{'thinkhazard:static/images/UNDP_logo.png'|static_url}}"></a>
    </p>
  </div>
</div>
<div class="row row10">
  <div class="col-md-2 text-center">
    <p>
    <a href="//www.unisdr.org/" class="logo-md" title="Logo The United Nations Office for Disaster Risk Reduction" alt="Logo The United Nations Office for Disaster Risk Reduction"><img src="{{'thinkhazard:static/images/UNISDR_logo.gif'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
    <a href="http://www.aon.com/impactforecasting/impact-forecasting.jsp" class="logo-md" title="Logo Impact Forecasting" alt="Logo Impact Forecasting"><img src="{{'thinkhazard:static/images/logo-if.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="http://www.uu.nl/en/organisation/faculty-of-geosciences" class="logo-md" title="Logo Universiteit Utrecht" alt="Logo Universiteit Utrecht"><img src="{{'thinkhazard:static/images/logo-utrecht.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="http://www.ga.gov.au/" class="logo-md" title="Logo Geoscience Australia" alt="Logo Geoscience Australia"><img src="{{'thinkhazard:static/images/logo-ga.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="http://www.globalquakemodel.org/" class="logo-md" title="Logo Global Earthquake Model" alt="Logo Global Earthquake Model"><img src="{{'thinkhazard:static/images/logo-gem.png'|static_url}}"></a>
    </p>
  </div>
</div>
<div class="row row10">
  <div class="col-md-2 text-center">
    <p>
      <a href="http://pcrafi.sopac.org/" class="logo-md" title="Logo Pacific Catastrophe Risk Assessment & Financing Initiative" alt="Logo Pacific Catastrophe Risk Assessment & Financing Initiative"><img src="{{'thinkhazard:static/images/logo-pcrafi.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="https://www.uea.ac.uk/" class="logo-md" title="Logo University of East Anglia" alt="Logo University of East Anglia"><img src="{{'thinkhazard:static/images/logo-uea.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="https://www.gpi.kit.edu/english/GPIatKIT.php" class="logo-md" title="Logo Karlsruher Institut für Technologie" alt="Logo Karlsruher Institut für Technologie"><img src="{{'thinkhazard:static/images/logo-kit.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="https://www.csiro.au/" class="logo-md" title="Logo CSIRO" alt="Logo CSIRO"><img src="{{'thinkhazard:static/images/logo_CSIRO.png'|static_url}}"></a>
    </p>
  </div>
  <div class="col-md-2 text-center">
    <p>
      <a href="https://vito.be/en" class="logo-md" title="Logo VITO" alt="Logo VITO"><img src="{{'thinkhazard:static/images/logo_vito.png'|static_url}}"></a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-2 text-center col-md-offset-5">
    <p>
      <a href="http://globaltsunamimodel.rm.ingv.it/" class="logo-md" title="Logo Global Tsunami Model" alt="Logo Global Tsunami Model"><img src="{{'thinkhazard:static/images/logoGTM.png'|static_url}}"></a>
    </p>
  </div>
</div>

<br>
<hr>
<div class="row">
  <div class="col-md-12">
    <p>
    {{gettext('The tool code is open source, to encourage other users to adapt the tool to their needs. The code can be found on %(github_link)s.', github_link='<a href="https://github.com/GFDRR/thinkhazard" target="_blank">Github</a>') | markdown}}
    {{gettext('Current instance version is %(version)s', version=request.registry.settings['version'])}}.
    {{gettext('Source of Administrative boundaries: The Global Administrative Unit Layers (GAUL) dataset, implemented by FAO within the CountrySTAT and Agricultural Market Information System (AMIS) projects.') | markdown}}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>
      {{licence()}}
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <p>
    {{gettext('The data was published for the last time on *%(date)s*.', date=publication_date)|markdown}}
    </p>
  </div>
</div>
<script>
  initAboutMap("{{'thinkhazard:static/js/World_Data_Holdings.geojson'|static_url}}");
</script>
