{% extends "base.jinja2" %}

{% from 'common.jinja2' import navbar %}
{% from 'common.jinja2' import thinkhazard_logo %}
{% from 'common.jinja2' import gfdrr_logo %}

{% block name %}index{% endblock %}

{% block content %}
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand">
          {{ thinkhazard_logo() }}
        </span>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
      {{ navbar() }}
      </div>
    </div>
  </nav>
  <div class="container">
    <header class="text-center">
      <h1>About ThinkHazard!</h1>
    </header>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
        <em>ThinkHazard!</em> is a new web-based tool enabling non-specialists to consider the impacts of disasters on new development projects. Users of <em>ThinkHazard!</em> can quickly and robustly assess the level of river flood, earthquake, drought, cyclone, coastal flood, tsunami, volcanic ash, and landslide hazard within their project area to assist with project planning and design.
        </p>
        <p>
        <em>ThinkHazard!</em> is a simple flagging system to highlight the hazards present in a project area. As such, a user is only required to enter their project location – national, provincial or district name. The results interface shows a user whether they require high, medium or low awareness of each hazard when planning their project.
        </p>
        <p>
        <em>ThinkHazard!</em> also provides recommendations and guidance on how to reduce the risk from each hazard within the project area, and provides links to additional resources such as country risk assessments, best practice guidance, additional websites. <em>ThinkHazard!</em> also highlights how each hazard may change in the future as a result of climate change.
        </p>
        <p>
        <em>ThinkHazard!</em> was developed by the Global Facility for Disaster Reduction and Recovery (GFDRR) Innovation Lab, in partnership with BRGM (French geological survey), Camptocamp and Deltares. Hazard datasets have been provided by UNISDR, Impact Forecasting, SSBN, PRACFI, The World Bank, IVM-VU and USGS.
        </p>
        <p>
        The tool code is open source, to encourage other users to adapt the tool to their needs. The code can be found at <a href="https://github.com/GFDRR/thinkhazard" target="_blank">https://github.com/GFDRR/thinkhazard</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          Developed by
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        {{ gfdrr_logo() }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          In partnership with
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="//www.brgm.fr/" class="logo-brgm" title="Logo BRGM" alt="Logo BRGM"></a>
        <a href="//www.camptocamp.com/" class="logo-camptocamp" title="Logo Camptocamp" alt="Logo Camptocamp"></a>
        <a href="//www.deltares.nl/" class="logo-deltares" title="Logo Deltares" alt="Logo Deltares"></a>
      </div>
    </div>
  </div>
{% endblock %}
