{% macro navbar() %}
      <ul class="nav navbar-nav navbar-right">
        <li class="disabled">
          <a href="">About</a>
        </li>
        <li class="disabled">
          <a href="">FAQ</a>
        </li>
        <li class="disabled">
          <a href="">References</a>
        </li>
        <li class="disabled">
          <a href="">Contact us</a>
        </li>
        <li class="disabled divider-vertical"><br></li>
        <li class="dropdown disabled">
          <a href="" data-toggle="dropdown" class="dropdown-toggle">English <i class="icon-selector-arrow small"></i></a>
          <ul class="dropdown-menu">
            <li><a href="">English</a></li>
          </ul>
        </li>
      </ul>
{% endmacro %}

{% macro thinkhazard_logo() %}
<a class="logo" href="{{'index'|route_url}}">
  <span class="logo-think">Think</span><span class="logo-hazard">Hazard</span><span class="logo-think">!</span>
</a>
{% endmacro %}

{% macro gfdrr_logo() %}
<footer class="text-center print-col-sm-12">
  <a href="//www.gfdrr.org/" class="logo-gfdrr" title="Logo GFDRR" alt="Logo GFDRR"></a>
</footer>
{% endmacro %}
