{% from 'common.jinja2' import thinkhazard_logo %}
{% from 'common.jinja2' import licence %}
{% from 'common.jinja2' import disclaimer %}
{% from 'common.jinja2' import thinkhazard_logo %}
<!-- Modal -->
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4 text-center">
          <a href="//www.gfdrr.org/" class="logo-md" title="Logo GFDRR" alt="Logo GFDRR"><img src="{{'thinkhazard:static/images/logo-gfdrr.svg'|static_url}}"></a>
        </div>
        <div class="col-md-4 text-center">
          {{thinkhazard_logo()}}
        </div>
        <div class="col-md-4 text-center">
          <a href="//www.worldbank.org/" class="logo-md" title="Logo World Bank" alt="Logo World Bank"><img src="{{'thinkhazard:static/images/logo-wbg.svg'|static_url}}"></a>
        </div>
      </div>
      <h4>
         {{gettext('Welcome to *ThinkHazard!*') | markdown}}
      </h4>
      <hr>
      <p>
      {{gettext('*ThinkHazard!* provides a general view of the hazards, for a given location, that should be considered in project design and implementation to promote disaster and climate resilience. The tool highlights the likelihood of different natural hazards affecting project areas (very low, low, medium and high), provides guidance on how to reduce the impact of these hazards, and where to find more information. The hazard levels provided are based on published hazard data, provided by a range of private, academic and public organizations.') | markdown}}
      </p>
      <p>
      {{gettext('Users and potential partners can contact *ThinkHazard!* administrators with queries or information to add to the tool, at the %(link_prefix)s*ThinkHazard!* feedback form%(link_suffix)s. This form is available on every page of the website.', link_prefix='<a href="{{feedback_form_url}}" target="_blank">', link_suffix='</a>') | markdown}}
      </p>
      <h4>
        {{gettext('Licence')}}
      </h4>
      {{licence()}}
      <h4>
        {{gettext('Disclaimer')}}
      </h4>
      {{disclaimer()}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        {{gettext('I agree')}}
      </button>
    </div>
  </div>
</div>
