<p>
{{gettext('*ThinkHazard!* provides a general view of the hazards, for a given location, that should be considered in project design and implementation to promote disaster and climate resilience. The tool highlights the likelihood of different natural hazards affecting project areas (very low, low, medium and high), provides guidance on how to reduce the impact of these hazards, and where to find more information. The hazard levels provided are based on published hazard data, provided by a range of private, academic and public organizations.') | markdown}}
</p>
<p>
{{gettext('Users and potential partners can contact *ThinkHazard!* administrators with queries or information to add to the tool, at the [*ThinkHazard!* feedback form](%(link)s). This form is available on every page of the website.', link=feedback_form_url) | markdown}}
</p>
<hr>
<div>
  {{disclaimer() | tidy}}
</div>


