{% extends "base.jinja2" %}

{% from 'common.jinja2' import navbar %}
{% from 'common.jinja2' import thinkhazard_logo %}
{% from 'common.jinja2' import gfdrr_logo %}

{% block name %}index{% endblock %}

{% block content %}
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand">
          {{ thinkhazard_logo() }}
        </span>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
      {{ navbar() }}
      </div>
    </div>
  </nav>
  <div class="container">
    <header class="text-center">
      <h1>Frequently Asked Questions</h1>
    </header>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <dl>
          <dt>
          What is the long term vision for the tool?
          </dt>
          <dd>
          The long-term vision for <em>Think Hazard!</em> is that it becomes a place for users to explore and understand natural hazard levels around the world, and obtain guidance on how to consider natural hazards in their projects. <em>Think Hazard!</em> will continue to be updated, and we encourage users of <em>Think Hazard!</em> to provide feedback, hazard datasets that could improve it (especially at national, provincial and district levels), and additional resources (websites and publications) that can contribute to a growing repository of knowledge on this <em>Think Hazard!</em> website. Our intention to continuously update the hazard data to reflect the latest knowledge in each hazard.
          </dd>
        </dl>
        <dl>
          <dt>
          Where can I get a more specific version for my type of projects?
          </dt>
          <dd>
          This initial version of <em>Think Hazard!</em> is designed to be generic and not to provide specific recommendations for different sectors. Instead, we encourage partners who work in sectoral areas to work with us to produce sector (or project) specific versions of this tool, which would provide recommendations tailored to a specific type of project (for example, recommendations on school construction on a version of <em>Think Hazard!</em> that is dedicated to the education sector). If you see a need for a specific type of project, please get in touch using the ‘contact us’ page to discuss development.
          </dd>
        </dl>
        <dl>
          <dt>
          In which languages is the tool available?
          </dt>
          <dd>
          <em>Think Hazard!</em> is currently only available in English; however, in future development we would like to add additional language functionality to <em>Think Hazard!</em>. Please use ‘contact us’ to tell us which other languages would be helpful for users of <em>Think Hazard!</em>.
          </dd>
        </dl>
        <dl>
          <dt>
          Can I contribute data to the tool?
          </dt>
          <dd>
          Yes! We encourage all owners and developers of hazard data to share those data for use in <em>Think Hazard!</em>. If the dataset that you provide is used in the analysis of hazard in a project area, your institution will be credited as the data source with a weblink provided directly to your institution. Please use ‘contact us’ to let us know what datasets you might be willing to contribute, and we’ll get in touch with you directly to discuss further.
          </dd>
        </dl>
        <dl>
          <dt>
          Can I suggest additional recommendations or changes to some recommendations?
          </dt>
          <dd>
          Yes! We encourage all users to provide their feedback on the recommendations given in <em>Think Hazard!</em>. Please use the ‘contact us’ page to let us know, and we’ll get in touch to discuss your suggestions further.
          </dd>
        </dl>
        <dl>
          <dt>
          The hazard data seems to contradict other data I have seen or used. Why is this?
          </dt>
          <dd>
          <em>Think Hazard!</em> uses a variety of sources of hazard data and the data source is provided on the map interface for each hazard. Some datasets are global and therefore are developed at a coarser resolution with a variety of assumptions. This may not be consistent with higher resolution or more detailed data available at the national or local level. Where local data has been provided for use within <em>Think Hazard!</em>, it will be shown. We encourage all users to provide their feedback on hazard data and to highlight where higher resolution or more detailed hazard data is available. Please use the ‘contact us’ page to let us know, and we’ll get in touch to discuss further.
          </dd>
        </dl>
        <dl>
          <dt>
          How do you decide which hazard data to use for hazard levels?
          </dt>
          <dd>
          Where multiple hazard datasets are available for a single location and hazard, <em>Think Hazard!</em> uses a decision tree to decide which dataset should be used. Submitted hazard data is reviewed by GFDRR hazard and risk specialists. A rating is assigned on the basis of age, methodology used, assumptions, and resolution of the data. Data with a higher rating is shown as a preference to users of <em>Think Hazard!</em>.
          </dd>
        </dl>
        <dl>
          <dt>
          Is <em>Think Hazard!</em> open-source?
          </dt>
          <dd>
          <em>Think Hazard!</em> has been designed as open-source from the start, with the code for <em>Think Hazard!</em> available on GitHub at <a href="https://github.com/GFDRR/thinkhazard" target="_blank">https://github.com/GFDRR/thinkhazard</a>. Open-source technology means that partners can easily adapt <em>Think Hazard!</em>  for their own use and to jointly contribute to the ongoing development of <em>Think Hazard!</em> into the future.
          </dd>
        </dl>
      </div>
    </div>
  </div>
{% endblock %}
