{% extends "base.jinja2" %}

{% block name %}index{% endblock %}

{% block content %}
  <nav class="navbar navbar-default">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="">About</a>
          </li>
          <li>
            <a href="">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <header class="text-center">
      <img src="{{('thinkhazard:static/images/logo-big.png'|static_url)}}" title="Think hazard - Overcome risk" alt="Think hazard - Overcome risk" />
      <h3>Identify the hazards in your project area and receive guidance on how to handle them</h3>
    </header>
  </div>
  <div id="search-pane" class="container-fluid search-pane">
    <div class="form-group col-md-6 col-md-offset-3 form-group-lg">
      {% include 'search.jinja2' %}
    </div>
  </div>
  <div class="container text-center">
    <ul id="hazards" class="horizontal list-unstyled">
      <li>
        <img src="{{('thinkhazard:static/images/hazard-icon-drought.png'|static_url)}}" />
        <br>
        Drought
      </li>
      <li>
        <img src="{{('thinkhazard:static/images/hazard-icon-earthquake.png'|static_url)}}" />
        <br>
        Earthquake
      </li>
      <li>
        <img src="{{('thinkhazard:static/images/hazard-icon-flood.png'|static_url)}}" />
        <br>
        Flood
      </li>
      <li>
        <img src="{{('thinkhazard:static/images/hazard-icon-storm-surge.png'|static_url)}}" />
        <br>
        Storm surge
      </li>
      <li>
        <img src="{{('thinkhazard:static/images/hazard-icon-strong-wind.png'|static_url)}}" />
        <br>
        Strong wind
      </li>
      <li>
        <img src="{{('thinkhazard:static/images/hazard-icon-tsunami.png'|static_url)}}" />
        <br>
        Tsunami
      </li>
      <li>
        <img src="{{('thinkhazard:static/images/hazard-icon-volcanic-ash.png'|static_url)}}" />
        <br>
        Volcanic ash
      </li>
    </ul>
  </div>
  <div class="container text-center">
    <div class="title-header">
      <a href="//www.gfdrr.org" class="logo-gfdrr" alt="GFRR" title="GFDRR"></a>
    </div>
  </div>
{% endblock %}
