<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thinkhazard</title>
    <link href="{{('%s/bootstrap/dist/css/bootstrap.min.css' % node_modules)|static_url}}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Thinkhazard tool!</h1>
    </div>
    <footer>
    </footer>
    <script src="{{('%s/jquery/dist/jquery.min.js' % node_modules)|static_url}}"></script>
    <script src="{{('%s/bootstrap/dist/js/bootstrap.min.js' % node_modules)|static_url}}"></script>
  </body>
</html>
