{% extends "base.jinja2" %}

{% from 'common.jinja2' import navbar %}
{% from 'common.jinja2' import thinkhazard_logo %}
{% from 'common.jinja2' import gfdrr_logo %}

{% block name %}index{% endblock %}

{% block content %}
  <nav class="navbar navbar-default">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
      {{ navbar() }}
      </div>
    </div>
  </nav>
  <div class="container">
    <header class="text-center">
        {{ thinkhazard_logo() }}
      <div class="text-muted">
      Identify natural hazards in your project area<br>
      and understand how to reduce their impact
      </div>
    </header>
  </div>
  <div class="search-pane container-fluid">
    <div class="form-group form-group-lg">
      <form id="search" class="search">
        {% include 'search.jinja2' %}
      </form>
    </div>
  </div>
  <div class="container text-center">
    <ul class="hazard-types-list horizontal list-unstyled">
      {% for hazard in hazards %}
      <li class="no-data text-center ">
        <i class="fa hazard-icon icon-{{ hazard.mnemonic|lower|replace(' ', '') }}"></i><br>
          {{ hazard.title }}
      </li>
      {% endfor %}
    </ul>
  </div>
  {{ gfdrr_logo() }}
{% endblock %}
