<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
    <link href="{{'thinkhazard:static/build/report_print.min.css'|static_url}}" rel="stylesheet">
  </head>
  <body>
  </head>
  <body>
    <div class="container text-center">
      <h2>About ThinkHazard!</h2>
    </div>
    <div class="container">
      {% include 'about_body.jinja2' %}
    </div>
    <div class="container">
      <div class="disclaimer">
        <p>
          This report is a product of the staff of the World Bank. The findings, interpretations, and conclusions expressed in this report do not necessarily reflect the views of the Executive Directors of the World Bank or the governments they represent.
        </p>
        <p>
          The World Bank does not guarantee the accuracy of the data included in this work. The boundaries, colors, denominations and other information shown on any map in this work do not imply any judgment on the part of the World Bank concerning the legal status  of any territory or the endorsement or acceptance of such boundaries.
        </p>
        <p>
          © 2015 The World Bank
          1818 H Street, N.W.
          Washington, D.C. 20433
        </p>
        <p>
          All rights reserved
        </p>
      </div>
    </div>
  </body>
  <script>
    window.status = 'finished';
  </script>
</html>
