{% macro report_for_hazard(division, hazard_category, recommendations,
   climate_change_recommendation, sources, resources, locale_name) %}
<div class="row">
  <div class="col-sm-12">
    <h2 class="page-header detail">
      {{ hazard_category.hazardtype.title | translate }}
      <small>
        Hazard level: <span class="level">{{ hazard_category.hazardlevel.title | translate }}</span>
      </small>
    </h2>
    {% if hazard_category.translated_general_recommendation(locale_name) %}
    <p>
    {{ hazard_category.translated_general_recommendation(locale_name)|replace("name of location", "(" + division.translated_name(locale_name) + ")")|markdown }}
    </p>
    {% endif %}

    {% if climate_change_recommendation %}
    <p>
      {{ climate_change_recommendation.translated_text(locale_name) }}
    </p>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-sm-5 col-sm-offset-1">
    <div class="map-block">
      {% if request.params.get('static') == 'true' %}
        <img onload="window.status='finished'" src="{{'get_map_report'|route_url(_query={'url': request.route_url('report_print', divisioncode=division.code, hazardtype=hazard_category.hazardtype.mnemonic)})}}">
      {% else %}
      <div id="map" class="map" data-hazardtype="{{hazard_category.hazardtype.mnemonic if hazard_category else ''}}">
      </div>
      {% endif %}
      <div class="attribution">
        <small>
          © <a href='https://www.mapbox.com/about/maps/'>Mapbox</a>
          © <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a>
        </small>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="legend">
      <table class="table">
        <tr>
          <td class="level-HIG">
            <i class="square"></i>
            {{gettext('High')}}
          </td>
          <td class="level-MED">
            <i class="square"></i>
            {{gettext('Medium')}}
          </td>
          <td class="level-LOW">
            <i class="square"></i>
            {{gettext('Low')}}
          </td>
          <td class="level-VLO">
            <i class="square"></i>
            {{gettext('Very low')}}
          </td>
        </tr>
      </table>
    </div>

    <div class="data-source text-center small">
      {{ngettext('Data source:', 'Data sources:', sources.__len__())}}
      {% for source in sources %}
      {{ source.owner_organization}}
      {% if not loop.last %},&nbsp;{% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% if recommendations %}
<div class="row">
  <div class="col-sm-12">
    <h3>{{gettext('Recommendations')}}</h3>
    <ul class="recommendations">
    {% for recommendation in recommendations %}
      <li class="list-unstyled">
        <i class="icon-list-square"></i>
        {{ recommendation.translated_text(locale_name) }}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
<hr>
{% if resources and resources|length > 0 %}
<div class="row">
  <div class="col-sm-12">
    <div class="further-resources">
      <h4>{{gettext('Further resources')}}</h4>
      <ul>
      {% for resource in resources %}
      <li class="small"><i class="icon-list-arrow"></i>
        <a target="_blank" href="{{ resource.url }}">
          {{ resource.text }}
        </a>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
    <link href="{{'thinkhazard:static/build/report_print.min.css'|static_url}}" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="pull-right">
        {{date.strftime('%Y-%m-%d')}} |
        {{request.route_url('report', division=division, hazardtype=hazard_category.hazardtype.mnemonic)}}
      </div>
      <div class="">
        ThinkHazard!
      </div>
    </div>
    <div class="container-fluid header {{ hazard_category.hazardlevel.mnemonic }}">
      <table>
        <tr>
          <td>
            <i class="fa hazard-icon icon-{{hazard_category.hazardtype.mnemonic|lower|replace(' ', '')}}"></i>
          </td>
          <td>
            <h2>
            {{ division.translated_name(request.locale_name) }}
            <br>
            <small>
            {% for parent in parents | reverse %}
              {{ parent.translated_name(request.locale_name) }}
              {% if not loop.last %},&nbsp;{% endif %}
            {% endfor %}
            </small>
            </h2>
          </td>
        </tr>
      </table>
    </div>
    <div class="container-fluid level-{{hazard_category.hazardlevel.mnemonic}}">
      {{ report_for_hazard(
          division,
          hazard_category,
          recommendations,
          climate_change_recommendation,
          sources,
          resources,
          request.locale_name) }}
    </div>
    <script src="{{('%s/jquery/dist/jquery.min.js' % node_modules)|static_url}}"></script>
    <script>
      var app = {};
      app.mapUrl = '{{ 'report_geojson'|route_url(divisioncode=division.code, hazardtype=hazard_category.hazardtype.mnemonic)}}';
      app.neighboursUrl = '{{ 'report_neighbours_geojson'|route_url(divisioncode=division.code)}}';
      app.divisionCode = {{division.code}};
      app.divisionBounds = {{bounds}};
      {% if hazard_category %}
        app.hazardType = '{{hazard_category.hazardtype.mnemonic}}';
      {% endif %}
      app.pdf = true
    </script>
    <script src="{{('%s/openlayers/dist/ol.js' % node_modules)|static_url}}"></script>
    <script src="{{'thinkhazard:static/js/report.js'|static_url}}"></script>
  </body>
</html>
