{% from 'common.jinja2' import thinkhazard_logo %}

{% macro hazard_type(hazard) %}
<li class="{{ hazard.hazardlevel.mnemonic }} text-center">
  <i class="fa hazard-icon icon-{{hazard.hazardtype.mnemonic|lower|replace(' ', '')}}"></i><br>
  {{ hazard.hazardtype.title | translate }}
</li>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
    <link href="{{'thinkhazard:static/build/report_print.min.css'|static_url}}" rel="stylesheet">
    <script src="{{('%s/d3/d3.min.js' % node_modules)|static_url}}"></script>
    <script src="{{('%s/d3-geo-projection/d3.geo.projection.min.js' % node_modules)|static_url}}"></script>
    <script src="{{('%s/topojson/build/topojson.min.js' % node_modules)|static_url}}"></script>
    <style>


    </style>
  </head>
  <body class="cover">
    <div class="container">
      <header class="text-center">
          {{ thinkhazard_logo() }}
        <div class="text-muted">
        Identify natural hazards in your project area<br>
        and understand how to reduce their impact
        </div>
      </header>
    </div>
    <div class="container-fluid text-center division-name">
      <h2>
        {{ division.translated_name(request.locale_name) }}
        <br>
        <small>
        {% for parent in parents | reverse %}
          {{ parent.translated_name(request.locale_name) }}
          {% if not loop.last %},&nbsp;{% endif %}
        {% endfor %}
        </small>
      </h2>
    </div>
    <div class="container-fluid text-center" id="world_map">
<script>

var width = 500,
    height = 290;

var projection = d3.geo.naturalEarth()
    .scale(100)
    .translate([width / 2, height / 2])
    .precision(.1);

var path = d3.geo.path()
    .projection(projection);

var graticule = d3.geo.graticule();

var svg = d3.select('#world_map').append("svg")
    .attr("width", width)
    .attr("height", height);

d3.json("{{'thinkhazard:static/js/map.topojson'|static_url}}", function(error, world) {

  svg.insert("path")
      .datum(topojson.feature(world, world.objects.countries))
      .attr("class", "land")
      .attr("d", path);

  svg.selectAll(".marker")
      .data([{lon: {{division_lonlat[0]}}, lat:{{division_lonlat[1]}}}])
      .enter()
      .append('svg:image')
      .attr('x', -14)
      .attr('y', -38)
      .attr('width', 35)
      .attr('height', 38)
      .attr('class', 'mark')
      .attr('xlink:href', "{{'thinkhazard:static/images/pdf-report-map-marker.svg'|static_url}}")
      .attr("transform", function(d) {return "translate(" + projection([d.lon, d.lat]) + ")";});
});


</script>
    </div>
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">

        <!-- Division name -->

        <ul class="hazard-types-list horizontal">
          {% for hazard in hazards_sorted %}
            {{ hazard_type(hazard) }}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="container text-center footer">
      {{gettext('Report generated on %(date)s<br>from %(link)s', date=date.strftime('%Y-%m-%d'), link='<a href="%(link)s">%(link)s</a>' % {'link': request.route_url('report_overview', division=division)})}}
    </div>
  </body>
  <script>
    window.status = 'finished';
  </script>
</html>
