{% from 'common.jinja2' import disclaimer %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
    <link href="{{'thinkhazard:static/build/report_print.min.css'|static_url}}" rel="stylesheet">
  </head>
  <body>
  </head>
  <body>
    <div class="container text-center">
      <h2>{{gettext('About ThinkHazard!')}}</h2>
    </div>
    <div class="container">
      {% include 'about_body.jinja2' %}
    </div>
    <div class="container">
      <div class="disclaimer">
        <h4>
          {{gettext('Disclaimer')}}
        </h4>
        {{disclaimer()}}
      </div>
    </div>
  </body>
  <script>
    window.status = 'finished';
  </script>
</html>
