{% extends "base.jinja2" %}

{% from 'common.jinja2' import navbar %}
{% from 'common.jinja2' import thinkhazard_logo %}
{% from 'report_hazard_category.jinja2' import report_for_hazard %}

{% block name %}report{% endblock %}

{% block title %}
Think Hazard - {{ division.name}}
{% if hazard_category %}
 - {{ hazard_category.hazardtype.title }}
{% endif %}
{% endblock %}

{% block content %}


  {% set overview_url = 'report_overview'|route_url(divisioncode=division.code) %}

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand">
          {{ thinkhazard_logo() }}
        </span>
      </div>
      <form id="search" class="search navbar-form navbar-left" role="search">
        <div class="form-group form-group-lg">
          {% include 'search.jinja2' %}
        </div>
      </form>
      {{ navbar() }}
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
      <a class="btn btn-default btn-xs pull-right" href="{{'thinkhazard:static/thor-pdf-report.pdf'|static_url}}"><i class="icon-download-arrow"></i> Download PDF</a>

      <!-- breadcrumb -->
      <div class="breadcrumb">
        <div class="btn-group btn-group-xs">
          <button class="btn btn-default"><i class="icon-pin"></i></button>
          {% for parent in parents | reverse %}
          <a href="{{ 'report' | route_url(divisioncode=parent.code, hazardtype=hazard_category.hazardtype.mnemonic if hazard_category else '')}}"
             class="btn btn-default">
          {{ parent.name }}
          </a>
          {% endfor %}
          <button class="btn btn-default disabled">
            {{ division.name }}
          </button>
        </div>
      </div>
    </div>

    <div class="container text-center">

      <!-- Division name -->
      <h2>
        {{ division.name }}
      </h2>

      <ul class="hazard-types-list horizontal list-unstyled" role="tablist">
        <li class="overview text-center {{ 'active' if not hazard_category}}">
          <a href="{{ overview_url }}" title="Go back to overview page">
            <i class="fa hazard-icon icon-overview"></i><br>
            Overview
            {% if not hazard_category %}
            <div class="arrow"></div>
            {% endif %}
          </a>
        </li>
        {% for hazard in hazards %}
          {{ hazard_type(hazard) }}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container {{ 'level-' + hazard_category.hazardlevel.mnemonic if hazard_category else '' }}">
    <div class="row">
      {{ report_for_hazard(
          division,
          hazard_category,
          recommendations,
          climate_change_recommendation,
          sources,
          resources,
          hazards_sorted=hazards_sorted,
          parents=parents,
          parent_division=parent_division) }}
    </div>
    <footer class="text-center">
      <a href="//www.gfdrr.org/" class="logo-gfdrr" title="Logo GFDRR" alt="Logo GFDRR"></a>
    </footer>
  </div>
{% endblock %}

{% block scripts %}
{% if debug %}
    <script src="{{('%s/openlayers/dist/ol-debug.js' % node_modules)|static_url}}"></script>
{% else %}
    <script src="{{('%s/openlayers/dist/ol.js' % node_modules)|static_url}}"></script>
{% endif %}
    <script>
      app.mapUrl = '{{ 'report_overview_json'|route_url(divisioncode=division.code)}}';

      {%- if division %}
      app.divisionCode = {{division.code}};
      {%- else %}
      app.divisionCode = undefined;
      {%- endif %}

      app.divisionBounds = {{bounds}};
      {% if hazard_category %}
        app.hazardType = '{{hazard_category.hazardtype.mnemonic}}';
      {% endif %}

      app.leveltype = {{division.leveltype_id}};
    </script>
{% endblock %}

{% macro hazard_type(hazard) %}
<li class="{{ hazard.hazardlevel.mnemonic }} text-center {{ 'active' if hazard_category and hazard.hazardtype.mnemonic == hazard_category.hazardtype.mnemonic else ''}}">
  <a
    {% if hazard.hazardlevel.mnemonic != 'no-data' %}
    href="{{'report'|route_url(divisioncode=division.code, hazardtype=hazard.hazardtype.mnemonic)}}"
    {% endif %}
     >
    <i class="fa hazard-icon icon-{{hazard.hazardtype.mnemonic|lower|replace(' ', '')}}"></i><br>
    {{ hazard.hazardtype.title }}
    {% if hazard_category and hazard.hazardtype.mnemonic == hazard_category.hazardtype.mnemonic %}
    <div class="arrow"></div>
    {% endif %}
  </a>
</li>
{% endmacro %}
