{% extends "base.jinja2" %}

{% from 'report_hazard_category.jinja2' import report_for_hazard %}

{% block name %}report{% endblock %}

{% block content %}
  <div class="container text-center">
    <h2>
      {{ division.name }}
      <br>
      <small>
      {% for parent in parents | reverse %}
        {{ parent.name }}
        {% if not loop.last %},&nbsp;{% endif %}
      {% endfor %}
      </small>
    </h2>
    <div class="container text-center">

      <!-- Division name -->

      <ul class="hazard-types-list horizontal">
        {% for hazard in hazards_sorted %}
          {{ hazard_type(hazard) }}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container page-break">
    {% include 'about_body.jinja2' %}
  </div>
  {% for hazard in hazard_categories %}
  <div class="container page-break">
    {{ report_for_hazard(
         division,
         hazard.hazard_category,
         hazard.recommendations,
         hazard.climate_change_recommendation,
         hazard.sources,
         hazard.resources,
         hazards_sorted=hazards_sorted) }}
  </div>
  {% endfor %}
{% endblock %}

{% macro hazard_type(hazard) %}
<li class="{{ hazard.hazardlevel.mnemonic }} text-center">
  <i class="fa hazard-icon icon-{{hazard.hazardtype.mnemonic|lower|replace(' ', '')}}"></i><br>
  {{ hazard.hazardtype.title }}
</li>
{% endmacro %}

{% block scripts %}
{% if debug %}
    <script src="{{('%s/openlayers/dist/ol-debug.js' % node_modules)|static_url}}"></script>
{% else %}
    <script src="{{('%s/openlayers/dist/ol.js' % node_modules)|static_url}}"></script>
{% endif %}
    <script>
      {% if hazard_category %}
      app.mapUrl = '{{ 'report_json'|route_url(divisioncode=division.code, hazardtype=hazard_category.hazardtype.mnemonic)}}';
      {% else %}
      app.mapUrl = '{{ 'report_overview_json'|route_url(divisioncode=division.code)}}';
      {% endif %}

      {%- if division %}
      app.divisionCode = {{division.code}};
      {%- else %}
      app.divisionCode = undefined;
      {%- endif %}

      app.divisionBounds = {{bounds}};
      {% if hazard_category %}
        app.hazardType = '{{hazard_category.hazardtype.mnemonic}}';
      {% endif %}

      app.leveltype = {{division.leveltype_id}};
    </script>
{% endblock %}
