{% extends "base.jinja2" %}

{% from 'common.jinja2' import navbar %}
{% from 'common.jinja2' import thinkhazard_logo %}
{% from 'common.jinja2' import gfdrr_logo %}

{% block name %}report{% endblock %}

{% block title %}
Think Hazard - {{ division.name}}
{% if hazard_category %}
 - {{ hazard_category.hazardtype.title }}
{% endif %}
{% endblock %}

{% block content %}


  {% set overview_url = 'report_overview'|route_url(divisioncode=division.code) %}

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand">
          {{ thinkhazard_logo() }}
        </span>
      </div>
      <form id="search" class="search navbar-form navbar-left" role="search">
        <div class="form-group form-group-lg">
          {% include 'search.jinja2' %}
        </div>
      </form>
      {{ navbar() }}
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
      <a class="btn btn-default btn-xs pull-right" href="{{'thinkhazard:static/thor-pdf-report.pdf'|static_url}}"><i class="icon-download-arrow"></i> Download PDF</a>

      <!-- breadcrumb -->
      <div class="breadcrumb">
        <div class="btn-group btn-group-xs">
          <button class="btn btn-default"><i class="icon-pin"></i></button>
          {% for parent in parents | reverse %}
          <a href="{{ 'report' | route_url(divisioncode=parent.code, hazardtype=hazard_category.hazardtype.mnemonic if hazard_category else '')}}"
             class="btn btn-default">
          {{ parent.name }}
          </a>
          {% endfor %}
          <button class="btn btn-default disabled">
            {{ division.name }}
          </button>
        </div>
      </div>
    </div>

    <div class="container text-center">

      <!-- Division name -->
      <h2>
        {{ division.name }}
      </h2>

      <ul class="hazard-types-list horizontal list-unstyled" role="tablist">
        <a class="btn btn-default btn-xs pull-left {% if not hazard_category %}disabled{% endif %}" href="{{ overview_url }}" title="Go back to overview page"><i class="icon-house"></i> Overview</a>
        {% for hazard in hazards %}
          {{ hazard_type(hazard) }}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container {{ 'level-' + hazard_category.hazardlevel.mnemonic if hazard_category else '' }}">
    <div class="row">
      <div class="col-md-7">
        {% if hazard_category %}
          <h2 class="page-header detail">
            {{ hazard_category.hazardtype.title }}
            <small>
              Hazard level: <span class="level">{{ hazard_category.hazardlevel.title }}</span>
            </small>
          </h2>
          {% if hazard_category.general_recommendation %}
          <p>
          {{ hazard_category.general_recommendation }}
          </p>
          {% endif %}

          {% if climate_change_recommendation %}
          <p>
            {{ climate_change_recommendation.text }}
          </p>
          {% endif %}

          {% if hazard_category.hazardtype.mnemonic == 'CY' %}
          <p>
          Climate change impact (sample text): Global average tropical cyclone wind speed and rainfall is likely to increase in the future, and the global average frequency of tropical cyclones is likely to decrease or remain unchanged. It is possible that the frequency of the most intense tropical cyclones will increase substantially in some ocean regions (IPCC, 2013).
          </p>
          {% endif %}

          {% if recommendations %}
          <h3>Recommendations</h3>
          <ul class="recommendations">
          {% for recommendation in recommendations %}
            <li class="list-unstyled">{{ recommendation.text }}</li>
          {% endfor %}
          </ul>
          {% endif %}
        {% else %}
          <h2 class="page-header hazard-level-label">
            <small class="text-muted">
              Hazard level
            </small>
            <hr />
          </h2>
          {% for hazard in hazards_sorted %}
          <a href="{{ 'report'|route_url(divisioncode=division.code, hazardtype=hazard.hazardtype.mnemonic) }}" aria-controls="{{ hazard.hazardtype.title }}" class="level-{{ hazard.hazardlevel.mnemonic }} overview">
            <h2 class="page-header">
              {{ hazard.hazardtype.title }}
              <small>
                <span class="level">{{ hazard.hazardlevel.title }}</span>
              </small>
            </h2>
          </a>
          {% endfor %}
        {% endif %}
      </div>
      <div class="col-md-5">
        <div class="map-block well">
          <div id="map" class="map">
            {% if parents.__len__() >= 1 %}
            <a class="btn btn-xs btn-default drillup" href="{{ 'report' | route_url(divisioncode=parents[0].code, hazardtype=hazard_category.hazardtype.mnemonic if hazard_category else '')}}">
              <i class="btn-xs icon-zoom-out"></i>
              Zoom out to {{ parent_division.name }}
            </a>
            {% endif %}
            <div class="alert alert-dismissible zoomin-help control btn-xs">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              Zoom in by clicking on<br> an administrative area.</div>
            <div class="tooltip"></div>
          </div>
          {% if hazard_category %}
          <div class="caption level">
            {{ hazard_category.hazardtype.title}} hazard level
          </div>
          <div class="caption location">
            {{ division.name }}
          </div>
          <div class="legend">
            <table class="table">
              <tr>
                <td class="level-HIG">
                  <i class="square"></i>
                  High
                </td>
                <td class="level-LOW">
                  <i class="square"></i>
                  Low
                </td>
              </tr>
              <tr>
                <td class="level-MED">
                  <i class="square"></i>
                  Medium
                </td>
                <td class="level-NPR">
                  <i class="square"></i>
                  Not previously reported
                </td>
              </tr>
            </table>
          </div>

          <div class="data-source text-center">
            <h5>DATA SOURCE</h5>
            <div>** Put the sources here</div>
          </div>
          {% endif %}
        </div>
        {% if resources and resources|length > 0 %}
        <div class="further-resources well">
          <h3>Further resources</h3>
          <p>For further information the following resources could be consulted:</p>
          <ul>
          {% for resource in resources %}
          <li><i class="icon-list-arrow"></i>
            <a target="_blank" href="{{ resource.url }}">
              {{ resource.text }}
            </a>
          </li>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
    {{ gfdrr_logo() }}
  </div>
{% endblock %}

{% block scripts %}
{% if debug %}
    <script src="{{('%s/openlayers/dist/ol-debug.js' % node_modules)|static_url}}"></script>
{% else %}
    <script src="{{('%s/openlayers/dist/ol.js' % node_modules)|static_url}}"></script>
{% endif %}
    <script>
      {% if hazard_category %}
      app.mapUrl = '{{ 'report_json'|route_url(divisioncode=division.code, hazardtype=hazard_category.hazardtype.mnemonic)}}';
      {% else %}
      app.mapUrl = '{{ 'report_overview_json'|route_url(divisioncode=division.code)}}';
      {% endif %}

      {%- if division %}
      app.divisionCode = {{division.code}};
      {%- else %}
      app.divisionCode = undefined;
      {%- endif %}

      app.divisionBounds = {{bounds}};
      {% if hazard_category %}
        app.hazardType = '{{hazard_category.hazardtype.mnemonic}}';
      {% endif %}

      app.leveltype = {{division.leveltype_id}};
    </script>
{% endblock %}

{% macro hazard_type(hazard) %}
<li class="{{ hazard.hazardlevel.mnemonic }} text-center {{ 'active' if hazard_category and hazard.hazardtype.mnemonic == hazard_category.hazardtype.mnemonic else ''}}">
  <a
    {% if hazard.hazardlevel.mnemonic != 'no-data' %}
    href="{{'report'|route_url(divisioncode=division.code, hazardtype=hazard.hazardtype.mnemonic)}}"
    {% endif %}
     >
    <i class="fa hazard-icon icon-{{hazard.hazardtype.mnemonic|lower|replace(' ', '')}}"></i><br>
    {{ hazard.hazardtype.title }}
    {% if hazard_category and hazard.hazardtype.mnemonic == hazard_category.hazardtype.mnemonic %}
    <div class="arrow"></div>
    {% endif %}
  </a>
</li>
{% endmacro %}
