{% extends "base.jinja2" %}

{% from 'common.jinja2' import navbar %}
{% from 'common.jinja2' import thinkhazard_logo %}
{% from 'report_hazard_category.jinja2' import report_for_hazard %}

{% block name %}report{% endblock %}

{% block title %}
Think Hazard - {{ division.translated_name(request.locale_name)}}
{% if hazard_category %}
 - {{ hazard_category.hazardtype.title | translate }}
{% endif %}
{% endblock %}

{% block content %}
  {% set overview_url = 'report_overview'|route_url(division=division) %}

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      {{ navbar(request, feedback_form_url, includes={"search": True, "home": True}) }}
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
      {% if request.registry['settings'].appname != 'admin' %}
      <div class="pull-right">
        <a class="btn btn-default btn-xs" href id="download">
          <i class="icon-spinner fa-spin hide"></i>
          <i class="icon-download-arrow"></i>
          <span class="hidden-xs">{{ gettext('Download PDF') }}</span>
        </a>
      </div>
      {% endif %}

      <!-- breadcrumb -->
      <div class="breadcrumb">
        <div class="btn-group btn-group-xs">
          <button class="btn btn-default"><i class="icon-pin"></i></button>
          {% for parent in parents | reverse %}
          <a href="{{ 'report' | route_url(division=parent, hazardtype=hazard_category.hazardtype.mnemonic if hazard_category else '')}}"
             class="btn btn-default">
          {{ parent.translated_name(request.locale_name) }}
          </a>
          {% endfor %}
          <button class="btn btn-default disabled">
            {{ division.translated_name(request.locale_name) }}
          </button>
        </div>
      </div>
    </div>

    <div class="container text-center">

      <!-- Division name -->
      <h2>
        {{ division.translated_name(request.locale_name) }}
      </h2>

      <ul class="hazard-types-list horizontal list-unstyled" role="tablist">
        <li class="overview text-center {{ 'active' if not hazard_category}}">
          <a href="{{ overview_url }}" title="{{ gettext('Go back to overview page') }}"
             data-toggle="tooltip"
             data-placement="bottom">
            <i class="fa hazard-icon icon-overview"></i><br>
            <span class="visible-xs">{{ gettext('Overview') }}</span>
            {% if not hazard_category %}
            <div class="arrow"></div>
            {% endif %}
          </a>
        </li>
        {% for hazard in hazards %}
          {{ hazard_type(hazard) }}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container {{ 'level-' + hazard_category.hazardlevel.mnemonic if hazard_category else '' }}">
    <div class="row">
      {{ report_for_hazard(
          division,
          hazard_category,
          climate_change_recommendation,
          sources,
          resources,
          contacts,
          request.locale_name,
          hazards_sorted=hazards_sorted,
          parents=parents,
          parent_division=parent_division) }}
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-body text-muted">
            {{gettext('We welcome any suggestions for improvements to the tool, including suggestions of data, recommendations, or resources to include.')}}
            <br>
            {{gettext('If you have any, please [provide feedback](%(link)s).', link=feedback_form_url)|markdown}}
          </div>
        </div>
      </div>
    </div>
    <footer class="text-center">
      <a href="//www.gfdrr.org/" class="logo-gfdrr logo-sm" title="Logo GFDRR" alt="Logo GFDRR"><img src="{{'thinkhazard:static/images/logo-gfdrr.svg'|static_url}}"></a>
    </footer>
  </div>
  <div id="data-source-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}

{% block scripts %}
{% if debug %}
    <script src="{{('%s/openlayers/dist/ol-debug.js' % node_modules)|static_url}}"></script>
{% else %}
    <script src="{{('%s/openlayers/dist/ol.js' % node_modules)|static_url}}"></script>
{% endif %}
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script>
      {% if hazard_category %}
      app.mapUrl = '{{ 'report_geojson'|route_url(divisioncode=division.code, hazardtype=hazard_category.hazardtype.mnemonic)}}';
      {% else %}
      app.mapUrl = '{{ 'report_overview_geojson'|route_url(divisioncode=division.code)}}';
      {% endif %}

      app.neighboursUrl = '{{ 'report_neighbours_geojson'|route_url(divisioncode=division.code)}}';

      {%- if division %}
      app.divisionCode = {{division.code}};
      {%- else %}
      app.divisionCode = undefined;
      {%- endif %}

      app.divisionBounds = {{bounds}};
      {% if hazard_category %}
        app.hazardType = '{{hazard_category.hazardtype.mnemonic}}';
      {% endif %}

      app.leveltype = {{division.leveltype_id}};

      app.createPdfReportUrl = '{{ 'create_pdf_report'|route_url(divisioncode=division.code)}}'
      app.getReportStatusUrl = '{{ 'get_report_status'|route_url(divisioncode=division.code, id=999)}}'
      app.getPdfReportUrl = '{{ 'get_pdf_report'|route_url(divisioncode=division.code, id=999)}}'

      app.goToString = '{{ gettext("Go to name_of_location") }}';
      app.zoomInString = '{{ gettext("Zoom in to name_of_location") }}';
      app.levelString = {
        'High': '{{gettext("High")}}',
        'Medium': '{{gettext("Medium")}}',
        'Low': '{{gettext("Low")}}',
        'Very low': '{{gettext("Very low")}}'
      };
    </script>
{% endblock %}

{% macro hazard_type(hazard) %}
<li class="{{ hazard.hazardlevel.mnemonic }} text-center {{ 'active' if hazard_category and hazard.hazardtype.mnemonic == hazard_category.hazardtype.mnemonic else ''}}">
  <a
    {% if hazard.hazardlevel.mnemonic != 'no-data' %}
    href="{{'report'|route_url(division=division, hazardtype=hazard.hazardtype.mnemonic)}}"
    {% endif %}
    data-toggle="tooltip"
    data-placement="bottom"
    title="{{ hazard.hazardtype.title | translate }}"
     >
    <i class="fa hazard-icon icon-{{hazard.hazardtype.mnemonic|lower|replace(' ', '')}}"></i><br>
    <span class="visible-xs">{{ hazard.hazardtype.title | translate }}</span>
    {% if hazard_category and hazard.hazardtype.mnemonic == hazard_category.hazardtype.mnemonic %}
    <div class="arrow"></div>
    {% endif %}
  </a>
</li>
{% endmacro %}
