<span class="input-group-addon">
  <i class="fa fa-search"></i>
</span>
<input id="search-field" class="form-control" type="text"
       placeholder="Enter location… (e.g. Ben Slimane)">
<input type="hidden" id="search-division-code" value="" />
<input type="submit" value="Submit" class="hidden">
