<input id="search-field" class="form-control input-lg" type="text"
       placeholder="Enter location… (e.g. Ben Slimane)">
<input type="hidden" id="search-division-code" value="" />
<input type="submit" value="Submit" class="hidden">
