<span class="input-group-addon">
  <i class="icon-magnifying-glass icon"></i>
</span>
<input class="search-field form-control" type="text"
       placeholder="Enter location (e.g. Indonesia or Bali)" autofocus>
<input type="hidden" class="search-division-code" value="" />
<input type="submit" value="Submit" class="hidden">
