{% extends "base.jinja2" %}

{% from 'common.jinja2' import navbar %}

{% block name %}admin{% endblock %}

{% block content %}
  {{ navbar(request) }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0-beta.9/ng-table.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-table/1.0.0-beta.9/ng-table.min.js"></script>
  <div class="container" ng-app="myApp" ng-controller="MainCtrl as ctrl">
    <div class="changerecommendations-navbar container">
      <ul class="nav nav-tabs">
        {% for hazard_type in hazard_types %}
        <li role="presentation" class="{{ 'active' if request.matchdict['hazardtype'] == hazard_type.mnemonic else '' }}">
        <a
          href="{{ 'admin_admindiv_hazardsets_hazardtype' | route_url(hazardtype=hazard_type.mnemonic) }}"
          title="{{ hazard_type.title }}"
          >{{ hazard_type.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="text-muted">
      List of admin divisions (level 3) and corresponding chosen hazard set
    </div>
    <table ng-table="ctrl.data" class="table table-condensed table-striped" show-filter="true">
      <tr ng-repeat="row in $data">
        <td sortable"'code'" title="'Code'">
          {% raw %}
          {{row.code}}
          {% endraw %}
        </td>
        <td filter="{ name: 'text'}" sortable="'name'" title="'REG'">
          {% raw %}
          {{row.name}}
          {% endraw %}
        </td>
        <td filter="{ level_2: 'text'}" sortable="'level_2'" title="'PRO'">
          {% raw %}
          {{row.level_2}}
          {% endraw %}
        </td>
        <td filter="{ level_1: 'text'}" sortable="'level_1'" title="'COU'">
          {% raw %}
          {{row.level_1}}
          {% endraw %}
        </td>
        <td filter="{ hazardset: 'text'}" sortable="'hazarset'" title="'HazardSet'">
          {% raw %}
            {{row.hazardset}}
          {% endraw %}
        </td>
      </tr>
    </table>
  </div>
  <script>
    var myApp = angular.module('myApp', ['ngTable']);
    myApp.controller('MainCtrl', function(NgTableParams) {
      var data = {{data}};
      this.data = new NgTableParams({ }, {dataset: data});
    });
  </script>
{% endblock %}
