{% extends "base.jinja2" %}

{% from 'common.jinja2' import navbar %}

{% block name %}admin{% endblock %}

{% block content %}
  {{ navbar('cc_rec') }}
  <div class="admin-climatechangerecommendations container">
    <h3>Climate Change Recommendations</h3>
    <a class="btn btn-primary pull-right"
        href="{{ 'admin_climate_rec_new' | route_url(hazard_type=request.matchdict['hazard_type']) }}"
        >New Recommendation</a>
    <div class="admin-climatechangerecommendations-navbar container">
      <ul class="nav nav-tabs">
        {% for hazard_type in hazard_types %}
        <li role="presentation" class="{{ 'active' if request.matchdict['hazard_type'] == hazard_type.mnemonic else '' }}">
          <a
            href="{{ 'admin_climate_rec_hazardtype' | route_url(hazard_type=hazard_type.mnemonic) }}"
            title="{{ hazard_type.title }}"
            >{{ hazard_type.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <ul>
      {% for climate_rec in climate_recs %}
      <li class="item-climatechangerecommendation">
        <div>{{ climate_rec.text }}</div>
        <div>
          <a href="{{ 'admin_climate_rec_edit' | route_url(id=climate_rec.id) }}"
            >Edit</a>
          -
          <a href="{{ 'admin_climate_rec_delete' | route_url(id=climate_rec.id) }}"
            class="delete-button">Delete</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $('.delete-button').click(function(e) {
    e.preventDefault();
    if (confirm("Delete this climate change recommendation ?")) {
      location = this.getAttribute('href');
    }
  });
</script>
{% endblock %}
