{% macro navbar(request) %}
  <div class="admin-navbar container">
    <ul class="nav nav-pills">
      <li role="presentation" class="{{ 'active' if request.matched_route.name == 'admin_hazardsets' else '' }}">
        <a href="{{ 'admin_hazardsets' | route_url }}">Hazard sets</a>
      </li>
      <li role="presentation" class="{{ 'active' if request.matched_route.name == 'admin_admindiv_hazardsets' else '' }}">
        <a href="{{ 'admin_admindiv_hazardsets' | route_url }}">Hazardsets / admin div</a>
      </li>
      <li role="presentation" class="{{ 'active' if request.matched_route.name == 'admin_index' else '' }}">
        <a href="{{ 'admin_index' | route_url }}">Hazard categories</a>
      </li>
      <li role="presentation" class="{{ 'active' if request.matched_route.name == 'admin_technical_rec' else '' }}">
        <a href="{{ 'admin_technical_rec' | route_url }}">Technical recommendations</a>
      </li>
      <li role="presentation" class="{{ 'active' if request.matched_route.name == 'admin_climate_rec_hazardtype' else '' }}">
        <a href="{{ 'admin_climate_rec' | route_url }}">Climate Change Recommendations</a>
      </li>
    </ul>
  </div>
{% endmacro %}
