{% extends "base.jinja2" %}

{% from 'common.jinja2' import navbar %}

{% block name %}admin{% endblock %}

{% block content %}
  {{ navbar('hazardsets') }}
  <div class="container">
    <h3>
    {{hazardset.id}}
    </h3>
    <h4>
      {{hazardset.hazardtype.title}}
    </h4>
    <table class="table">
      <tr>
        <td>Return period</td>
        <td>Level</td>
        <td>Downloaded</td>
      </tr>
      {% for layer in hazardset.layers %}
      <tr>
        <td>{{layer.return_period}}</td>
        <td>{{layer.hazardlevel.mnemonic}}</td>
        <td>
          <span class="fa fa-{{'check' if layer.downloaded else 'times'}}"></span>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
