{% extends "base.jinja2" %}

{% from 'common.jinja2' import navbar %}

{% block name %}admin{% endblock %}

{% block content %}
  {{ navbar('hazardsets') }}
  <div class="container">
    <table class="table table-condensed table-striped">
      <tr>
        <th></th>
        <th>Hazard Type</th>
        <th>Local</th>
        <th>Calculation Method</th>
        <th>Scientific Quality</th>
        <th class="text-center">Complete</th>
        <th class="text-center">Processed</th>
      </tr>
    {% for set in hazardsets %}
      <tr>
        <td>
          <a href="{{'admin_hazardset'|route_url(hazardset=set.id)}}">
            {{set.id}}
          </a><br>
          <span class="small distribution_url"><a href="{{set.distribution_url}}">{{set.distribution_url}}</a></span>
        </td>
        <td>{{set.hazardtype.title}}</td>
        <td>{{set.local}}</td>
        <td>{{set.calculation_method_quality}}</td>
        <td>{{set.scientific_quality}}</td>
        <td class="text-center text-{{'success' if set.complete else 'danger'}}">
          <span
          class="fa fa-{{'check' if set.complete else 'times'}}"
          ></span><br>
          {% if set.complete_error %}
          <small class="text-danger">{{set.complete_error}}</small>
          {% endif %}
        </td>
        <td class="text-center text-{{'success' if set.processed else 'danger'}}">
          <span class="fa fa-{{'check' if set.processed else 'times'}}"></span><br>
          {% if set.processed %}
          <small class="text-success">{{set.processed.strftime('%Y-%m-%d %I:%M%p')}}</small>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}
