{% extends "base.jinja2" %}

{% from 'common.jinja2' import navbar %}

{% block name %}admin{% endblock %}

{% block content %}
  {{ navbar(request) }}
  <div class="container">
    <style>
      .invalid {
        text-decoration: line-through;
      }
    </style>
    <table class="table table-condensed table-striped">
      <tr>
        <th></th>
        <th>Hazard Type</th>
        <th>Local</th>
        <th>Calculation Method</th>
        <th>Scientific Quality</th>
        <th>Complete</th>
        <th>Processed</th>
      </tr>
    {% for set in hazardsets %}
      <tr class="{{ 'invalid' if not set.processed }}" >
        <td>
          <a href="{{'admin_hazardset'|route_url(hazardset=set.id)}}">
            {{set.id}}
          </a>
        </td>
        <td>{{set.hazardtype.title}}</td>
        <td>{{set.local}}</td>
        <td>{{set.calculation_method_quality}}</td>
        <td>{{set.scientific_quality}}</td>
        <td>
          <span
          {% if set.complete_error %}
          data-toggle="tooltip" title="{{set.complete_error}}"
          {% endif %}
          class="fa fa-{{'check' if set.complete else 'times'}}"
          ></span>
        </td>
        <td>
          <span class="fa fa-{{'check' if set.processed else 'times'}}"></span>
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}
