{% extends "base.jinja2" %}

{% from 'common.jinja2' import navbar %}

{% block name %}admin{% endblock %}

{% block content %}
  {{ navbar('index') }}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            Latest publication date:
            <strong>{{publication_date.strftime("%Y-%m-%d")}}</strong>
          </div>
        </div>
      </div>
      {% if running|length > 0 %}
      <div class="col-sm-12">
        <div class="panel panel-info">
          <div class="panel-heading">Running tasks</div>
          <ul class="list-group">
            {% for t in running %}
              <li class="list-group-item"><mark><strong>{{t['label']}}</strong></mark> started {{t['time_label']}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">Tasks</div>
          <div class="panel-body">
            <h4>Administrative Divisions</h4>
            <p>
              Import administrative division from Geonode
            </p>
            <p class="text-right">
              <a
                class="btn btn-info"
                href="{{request.route_url('admin_add_task', _query={'task': 'admindivs'})}}"
                {% if running|length > 0 %}
                disabled="disabled"
                {% endif %}
              >
                Import from Geonode
              </a>
            </p>
            <p>
              Import administrative divisions from a GeoPackage file.
            </p>
            <form method="post" action="{{request.route_url('admin_upload_geopackage')}}" enctype="multipart/form-data">
              <div class="form-group">
                <input 
                  type="file" 
                  name="geopackage_file" 
                  id="geopackage_file"
                  accept=".gpkg"
                  class="form-control"
                  {% if running|length > 0 %}
                  disabled="disabled"
                  {% endif %}
                />
              </div>
              <p class="text-right">
                <button 
                  type="submit" 
                  id="geopackage_submit"
                  class="btn btn-info"
                  disabled="disabled"
                  {% if running|length > 0 %}
                  data-task-running="true"
                  {% endif %}
                >
                  <span class="glyphicon glyphicon-upload"></span> Import from GeoPackage
                </button>
              </p>
            </form>
            <hr>
            <h4>Processing</h4>
            <p>
              Harvest, download, complete &amp; process.
            </p>
            <p class="text-right">
              <a
                class="btn btn-info"
                href="{{request.route_url('admin_add_task', _query={'task': 'process'})}}"
                {% if running|length > 0 %}
                disabled="disabled"
                {% endif %}
              >
                Process
              </a>
            </p>
            <hr>
            <h4>Translations</h4>
            <p>
              Push data from ThinkHazard DB to transifex for translation.
            </p>
            <p class="text-right">
              <a
                class="btn btn-info"
                href="{{request.route_url('admin_add_task', _query={'task': 'transifex_push'})}}"
                {% if running|length > 0 %}
                disabled="disabled"
                {% endif %}
              >
                Push to Transifex
              </a>
            </p>
            <p>
              Fetch translations from transifex and reimport them into ThinkHazard DB.
            </p>
            <p class="text-right">
              <a
                class="btn btn-info"
                href="{{request.route_url('admin_add_task', _query={'task': 'transifex_fetch'})}}"
                {% if running|length > 0 %}
                disabled="disabled"
                {% endif %}
              >
                Import from Transifex
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-danger">
          <div class="panel-heading">Publication</div>
          <div class="panel-body">
            <h4>Publish</h4>
            <p>
              Publish current preview to public site.
            </p>
            <p class="text-right">
              <a
                class="btn btn-danger"
                href="{{request.route_url('admin_add_task', _query={'task': 'publish'})}}"
                {% if running|length > 0 %}
                disabled="disabled"
                {% endif %}
              >
                Publish now
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">Processing Logs</div>
          <div class="panel-body">
            {% if logs|length > 0 %}
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Log File</th>
                  <th>Date/Time</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for log in logs %}
                <tr{% if loop.index > 20 %} class="log-hidden" style="display:none"{% endif %}>
                  <td>{{log.filename}}</td>
                  <td>{{log.last_modified}}</td>
                  <td>
                    <a 
                      href="{{request.route_url('admin_processing_log_download', log_name=log.filename)}}" 
                      class="btn btn-sm btn-primary"
                      target="_blank"
                    >
                      <span class="glyphicon glyphicon-download-alt"></span> Download
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% if logs|length > 20 %}
            <p class="text-muted">
              Showing <span id="log-count">20</span> of {{logs|length}} logs (newest first)
              <a href="#" id="toggle-logs" class="btn btn-xs btn-default">Show all</a>
            </p>
            {% endif %}
            {% else %}
            <p class="text-muted">No processing logs available. Logs will appear here after running a task.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
  $(document).ready(function() {
    $('a[disabled]').on('click', function(e) {
      alert('There is already a task running')
      return false;
    })
    
    $('#geopackage_file').on('change', function() {
      var submitBtn = $('#geopackage_submit');
      var hasFile = this.files && this.files.length > 0;
      var taskRunning = submitBtn.attr('data-task-running') === 'true';
      
      if (hasFile && !taskRunning) {
        submitBtn.prop('disabled', false);
      } else {
        submitBtn.prop('disabled', true);
      }
    })

    var logsExpanded = false;
    $('#toggle-logs').on('click', function(e) {
      e.preventDefault();
      logsExpanded = !logsExpanded;
      if (logsExpanded) {
        $('.log-hidden').show();
        $(this).text('Show less');
        $('#log-count').text('{{logs|length}}');
      } else {
        $('.log-hidden').hide();
        $(this).text('Show all');
        $('#log-count').text('20');
      }
    })
  })
  </script>
{% endblock %}
