{% extends "base.jinja2" %}

{% from 'common.jinja2' import navbar %}

{% block name %}admin{% endblock %}

{% block content %}
  {{ navbar('tec_rec') }}
  <div class="admin-technicalrecommendations container">

    <h3>Technical Recommendations
      <a class="btn btn-primary pull-right"
        href="{{ 'admin_technical_rec_new' | route_url }}"
        >New Recommendation</a></h3>
    <ul>
      {% for technical_rec in technical_recs %}
      <li class="item-technicalrecommendation">
        <div>{{ technical_rec.translated_text(request.locale_name) }}</div>
        <div>{{ technical_rec.hazardcategories }}</div>
        <div>
          <a href="{{ 'admin_technical_rec_edit' | route_url(id=technical_rec.id) }}"
            >Edit</a>
          -
          <a href="{{ 'admin_technical_rec_delete' | route_url(id=technical_rec.id) }}"
            class="delete-button"
            >Delete</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $('.delete-button').click(function(e) {
    e.preventDefault();
    if (confirm("Delete this technical recommendation ?")) {
      location = this.getAttribute('href');
    }
  });
</script>
{% endblock %}
